*.pyc
__pycache__/
*.csv
*.npy
beta_net.keras
*.png
seir_all_compartments.png
state_net.keras
*.DS_Store
COVID_Data.py
PDE.py
PINN_SEIR.ipynb
COVID_Data_all_times.py
COVID_Data_years.py
split_covid_data_by_month.py
PINN.py
PINN_example_first_order.py
covid_all_time.png
covid_by_years.png
data.png
pinn_model.h5
second_wave_data.py
seir_pinn_model.keras
test.py
